<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Language="1033"
           Manufacturer="CCC Mainfranken"
           Name="OSC-Variant"
           UpgradeCode="{83088581-5db3-49a2-8932-27da356818c7}"
           Version="0.6.0">

    <Package InstallScope="perMachine" Compressed="yes" />

    <MediaTemplate EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="osc-variant">
          <Component Id="MainExecutable" Guid="*">
            <File Id="OscVariantExe" Name="osc-variant.exe" KeyPath="yes" Source="target/x86_64-pc-windows-gnu/release/osc-variant.exe" />
            <File Id="LicenseTxt" Name="LICENSE.txt" Source="LICENSE.txt" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
    
    <Feature Id="Complete">
      <ComponentRef Id="MainExecutable" />
    </Feature>

  </Product>
</Wix>